class Lns < Formula
  desc "Run local development services at stable local names"
  homepage "https://github.com/crown-dev-studios/lns"
  license "MIT"

  depends_on "caddy"

  on_macos do
    on_arm do
      url "https://github.com/crown-dev-studios/lns/releases/download/v@@VERSION@@/lns_@@VERSION@@_darwin_arm64.tar.gz"
      sha256 "@@DARWIN_ARM64_SHA256@@"
    end

    on_intel do
      url "https://github.com/crown-dev-studios/lns/releases/download/v@@VERSION@@/lns_@@VERSION@@_darwin_amd64.tar.gz"
      sha256 "@@DARWIN_AMD64_SHA256@@"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/crown-dev-studios/lns/releases/download/v@@VERSION@@/lns_@@VERSION@@_linux_arm64.tar.gz"
      sha256 "@@LINUX_ARM64_SHA256@@"
    end

    on_intel do
      url "https://github.com/crown-dev-studios/lns/releases/download/v@@VERSION@@/lns_@@VERSION@@_linux_amd64.tar.gz"
      sha256 "@@LINUX_AMD64_SHA256@@"
    end
  end

  def install
    bin.install "lns"
  end

  test do
    assert_match "lns version #{version}", shell_output("#{bin}/lns version")
  end
end
